{{ define "login" }}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>FleetWise</title>
    <link rel="stylesheet" href="styles/styleLogin.css" />
    <link rel="stylesheet" href="styles/normalize.css" />
  </head>

  <body>
    <div class="center login__formulario-contenedor">
      <h1>FleetWise</h1>

      <form class="formulario" method="post">
        <div class="txt_field">
          <input
            class="formulario__input"
            id="nombreusuario"
            type="text"
            required
          />
          <span></span>
          <label>Usuario</label>
        </div>

        <div class="txt_field">
          <input
            class="formulario__input"
            id="claveusuario"
            type="password"
            required
          />
          <span></span>
          <label>Contraseña</label>
        </div>

        <div class="pass"></div>

        <input class="formulario__submit" type="submit" value="Ingresar" />

        <div class="signup_link"></div>
      </form>
    </div>
    <script src="js/login.js"></script>
  </body>
</html>

{{ end }}
