{{ define "registrosMantenimiento/agregar" }}

<!DOCTYPE html>
<html lang="en">
  {{template "componentes/head" . -}}
  <body>
    {{template "componentes/header" -}}
    <main class="captura-registro-mantenimiento-vehiculo__contenedor">
      <h1 class="captura-registro-mantenimiento-vehiculo__heading">
        Nuevo Registro de Mantenimiento del Veh&iacute;culo
      </h1>
      <div
        class="captura-registro-mantenimiento-vehiculo__formulario-contenedor"
      >
        <form class="formulario">
          <fieldset class="formulario__campos">
            <div
              class="captura-registro-mantenimiento-vehiculo__placas-contenedor"
            ></div>
            <div class="formulario__campo">
              <p>
                Tipo de Registro:
                <select id="tiporegistro" class="formulario__input">
                  <option value="servicio" selected="selected">Servicio</option>
                  <option value="carga de combustible">
                    Carga de Combustible
                  </option>
                  <option value="afinacion">Afinación</option>
                  <option value="reaparacion">Reparaci&oacute;n</option>
                  <option value="reemplazo">Reemplazo</option>
                </select>
              </p>
            </div>
            <div class="formulario__campo">
              <label for="fecha" class="formulario__label">*Fecha:</label>
              <input
                class="formulario__input"
                type="date"
                name="fecha"
                id="fecha"
                placeholder="DD/MM/YYYY"
              />
            </div>
            <div class="formulario__campo">
              <label for="kilometraje" class="formulario__label">
                *Kilometraje:
              </label>
              <input
                class="formulario__input"
                type="text"
                name="kilometraje"
                id="kilometraje"
                placeholder="Kilometraje"
              />
            </div>
            <div class="formulario__campo">
              <label
                for="litros_gasolina"
                class="formulario__label"
                id="litros_gasolina_label"
                hidden
              >
                *Litros de Gasolina:
              </label>
              <input
                class="formulario__input"
                type="text"
                name="litrosdegasolina"
                id="litrosdegasolina"
                placeholder="Litros de Gasolina"
                hidden
              />
            </div>
            <div class="formulario__campo">
              <label for="importe" class="formulario__label">*Importe:</label>
              <input
                class="formulario__input"
                type="text"
                name="importe"
                id="importe"
                placeholder="Importe"
              />
            </div>
            <div class="formulario__campo">
              <label for="observaciones" class="formulario__label"
                >*Observaciones:</label
              >
              <input
                class="formulario__input"
                type="text"
                name="observaciones"
                id="observaciones"
                placeholder="Observaciones"
              />
            </div>
            <div class="formulario__campo">
              <p id="concepto">
                Concepto:
                <select
                  name="conceptoregistro"
                  id="conceptoregistro"
                  class="formulario__input"
                ></select>
              </p>
            </div>
          </fieldset>
          <input type="submit" class="formulario__submit" value="Enviar" />
        </form>
      </div>
    </main>

    {{template "componentes/footer" -}}

    <script src="js/capturaRegistroMantenimientoVehiculo.js"></script>
  </body>
</html>

{{ end }}
