{{ define "registrosMantenimiento/editar"}}

<!DOCTYPE html>
<html lang="es">
  {{template "componentes/head" . -}}
  <body>
    {{template "componentes/header" -}}
    <main class="editar-registro">
      <h1>Editar Registros</h1>

      <form action="">
        <div class="editar-registro__contenedor">
          <p class="editar-registro__contenedor-texto">Datos Vehículo</p>

          <fieldset class="registros__campos">
            <div class="registros__campo">
              <label for="placa" class="registros__etiqueta">Placa</label>
              <input
                type="text"
                id="placa"
                name="placa"
                class="registros__entrada"
              />
            </div>

            <div class="registros__campo">
              <label for="marca" class="registros__etiqueta">Marca</label>
              <input
                type="text"
                id="marca"
                name="marca"
                class="registros__entrada"
                disabled
              />
            </div>

            <div class="registros__campo">
              <label for="modelo" class="registros__etiqueta">Modelo</label>
              <input
                type="text"
                id="modelo"
                name="modelo"
                class="registros__entrada"
                disabled
              />
            </div>

            <div class="registros__campo">
              <label for="fechaDeLanzamiento" class="registros__etiqueta">
                Año
              </label>
              <input
                type="number"
                id="fechaDeLanzamiento"
                name="fechaDeLanzamiento"
                class="registros__entrada"
                disabled
              />
            </div>
          </fieldset>
        </div>

        <div class="editar-registro__contenedor">
          <p class="editar-registro__contenedor-texto">Datos Registro</p>

          <fieldset class="registros__campos">
            <div class="registros__campo">
              <label for="fecha" class="registros__etiqueta">Fecha</label>
              <input
                type="date"
                id="fecha"
                name="fecha"
                class="registros__entrada"
              />
            </div>

            <div class="registros__campo">
              <label for="tipoDeRegistro" class="registros__etiqueta">
                Tipo de Registro
              </label>
              <select
                id="tipoDeRegistro"
                name="tipoDeRegistro"
                class="filtros__desplegable"
              >
                <option value="carga de combustible">
                  Carga de Combustible
                </option>
                <option value="afinacion">Afinación</option>
                <option value="reparacion">Reparaci&oacute;n</option>
                <option value="reemplazo">Reemplazo</option>
              </select>
            </div>

            <div class="registros__campo">
              <label for="kilometraje" class="registros__etiqueta"
                >Kilometraje</label
              >
              <input
                type="number"
                id="kilometraje"
                name="kilometraje"
                class="registros__entrada"
              />
            </div>

            <div class="registros__campo">
              <label for="importe" class="registros__etiqueta">Importe</label>
              <input
                type="number"
                id="importe"
                name="importe"
                class="registros__entrada"
              />
            </div>

            <div class="registros__campo">
              <label for="observaciones" class="registros__etiqueta">
                Observaciones
              </label>
              <input
                type="text"
                id="observaciones"
                class="registros__entrada"
              />
            </div>

            <div class="registros__campo">
              <div id="campoCambiable">
                <label for="litros" class="registros__etiqueta">
                  Litros de Gasolina
                </label>
                <input type="number" id="litros" class="registros__entrada" />
              </div>
            </div>
          </fieldset>
        </div>

        <div class="editar-registro__contenedor-botones">
          <a
            href="/HistorialRegistrosMantenimientoVehiculo"
            class="editar-registro__volver"
          >
            Volver
          </a>

          <input
            type="submit"
            id="editar-registro"
            class="registros__enviar"
            value="Guardar Cambios"
          />
        </div>
      </form>
    </main>

    {{template "componentes/footer" -}}
    <script src="js/editarRegistro.js"></script>
  </body>
</html>

{{ end }}
