{{ define "vehiculos/formularioCaptura" }}

<fieldset class="formulario__campos">
  <div class="formulario__campo">
    <label for="marca" class="formulario__label">*Marca:</label>
    <input
      class="formulario__input"
      type="text"
      name="marca"
      id="marca"
      placeholder="Marca"
    />
  </div>

  <div class="formulario__campo">
    <label for="modelo" class="formulario__label">*Modelo:</label>
    <input
      class="formulario__input"
      type="text"
      name="modelo"
      id="modelo"
      placeholder="Modelo"
    />
  </div>
  <div class="formulario__campo">
    <label for="fechalanzamiento" class="formulario__label">*Año:</label>
    <input
      class="formulario__input"
      type="text"
      name="fechalanzamiento"
      id="fechalanzamiento"
      placeholder="Año"
    />
  </div>
  <div class="formulario__campo">
    <label for="serie" class="formulario__label">*Serie:</label>
    <input
      class="formulario__input"
      type="text"
      name="serie"
      id="serie"
      placeholder="Serie"
    />
  </div>
  <div class="formulario__campo">
    <label for="placas" class="formulario__label">*Placas:</label>
    <input
      class="formulario__input"
      type="text"
      name="placas"
      id="placas"
      placeholder="Placas"
    />
  </div>
</fieldset>
{{ end }}
