{{ define "vehiculos/formularioCaptura" }}

<fieldset class="formulario__campos">
  <div class="formulario__campo">
    <label for="marca" class="formulario__label">*Marca del Vehículo:</label>
    <input
      class="formulario__input"
      type="text"
      name="marca"
      id="marca"
      placeholder="Nissan"
    />
  </div>

  <div class="formulario__campo">
    <label for="modelo" class="formulario__label">*Modelo del vehículo:</label>
    <input
      class="formulario__input"
      type="text"
      name="modelo"
      id="modelo"
      placeholder="X-Trail"
    />
  </div>
  <div class="formulario__campo">
    <label for="fechalanzamiento" class="formulario__label">*Año del vehículo:</label>
    <input
      class="formulario__input"
      type="text"
      name="fechalanzamiento"
      id="fechalanzamiento"
      placeholder="2001"
    />
  </div>
  <div class="formulario__campo">
    <label for="serie" class="formulario__label">*Numero de Serie del Vehículo:</label>
    <input
      class="formulario__input"
      type="text"
      name="serie"
      id="serie"
      placeholder="ABC123456"
    />
  </div>
  <div class="formulario__campo">
    <label for="placas" class="formulario__label">*Placas del vehículo:</label>
    <input
      class="formulario__input"
      type="text"
      name="placas"
      id="placas"
      placeholder="UVU-017-A"
    />
  </div>
</fieldset>
{{ end }}
