{{define "historialRegistros"}}
<!DOCTYPE html>
{{template "componentes/headDataTables" . -}}
<html lang="es">
  <body>
    {{template "componentes/header" -}}
    <main class="historial-registros">
      <h1 class="historial-registros__heading">
        Historial de Registros de Mantenimientos
      </h1>

      <div class="historial-registros__contenedor-filtros">
        <form action="" class="filtros">
          <div class="filtros__campos">
            <div class="filtros__campo">
              <label for="placa" class="filtros__etiqueta"> Placas </label>
              <select id="placa" name="placa" class="filtros__desplegable">
                <option value="" selected>No Filtrar</option>
              </select>
            </div>
            <div class="filtros__campo">
              <label for="marca" class="filtros__etiqueta">Marca</label>
              <select id="marca" name="marca" class="filtros__desplegable">
                <option value="" selected>No Filtrar</option>
              </select>
            </div>
            <div class="filtros__campo">
              <label for="modelo" class="filtros__etiqueta">Modelo </label>
              <select id="modelo" name="modelo" class="filtros__desplegable">
                <option value="" selected>No Filtrar</option>
              </select>
            </div>
            <div class="filtros__campo">
              <label for="fechaDeLanzamiento" class="filtros__etiqueta">
                Año del vehículo
              </label>
              <select
                id="fechaDeLanzamiento"
                name="fechaDeLanzamiento"
                class="filtros__desplegable"
              >
                <option value="" selected>No Filtrar</option>
              </select>
            </div>
            <div class="filtros__campo">
              <label for="tipoDeRegistro" class="filtros__etiqueta">
                Tipo De Registro
              </label>
              <select
                id="tipoDeRegistro"
                name="tipoDeRegistro"
                class="filtros__desplegable"
              >
                <option value="" selected>No Filtrar</option>
                <option value="carga de combustible">
                  Carga de Combustible
                </option>
                <option value="afinacion">Afinación</option>
                <option value="reaparacion">Reparaci&oacute;n</option>
                <option value="reemplazo">Reemplazo</option>
              </select>
            </div>
          </div>

          <input
            type="submit"
            id="botonEnviarFiltros"
            class="filtros__enviar"
            value="Aplicar Filtros"
          />
        </form>
      </div>

      <div class="historial-registros__contenedor-registros">
        <table
          class="registros hover row-border order-column stripe display-responsive"
          id="tabla-registros"
        >
          <thead>
            <tr>
              <th>Fecha del mantenimiento</th>
              <th>Placa</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Año</th>
              <th>Tipo de Registro</th>
              <th>Kilometraje</th>
              <th>Litros</th>
              <th>Importe</th>
              <th>Concepto</th>
              <th>Editar</th>
            </tr>
          </thead>

          <tbody></tbody>

          <tfoot>
            <tr>
              <th>Fecha</th>
              <th>Placa</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Año</th>
              <th>Tipo de Registro</th>
              <th>Kilometraje</th>
              <th>Litros</th>
              <th>Importe</th>
              <th>Concepto</th>
              <th>Editar</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>

    {{template "componentes/footer" -}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="js/historialregistros.js"></script>
  </body>
</html>

{{ end }}
