:root {
  --primario: rgb(16, 155, 253);
  --azul_claro: #eaf5fe;
  --blanco: white;
  --fuente-principal: "Poppins", sans-serif;
  --rgb_card: rgba(0, 0, 0, 0.2);
}

/*
===============================================
ESTILOS GLOBALES
===============================================
*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  font-family: var(--fuente-principal);
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

p {
  margin: 0;
}

[class*="contenedor"] {
  margin: 0 auto;
  max-width: 120rem;
  width: 95%;
}

[class*="heading"] {
  text-align: center;
  font-weight: 600;
}

@media (max-width: 820px) {
  [class*="heading"] {
    font-size: 2.5rem;
  }
}

/*
=============================
INICIO HEADER
=============================
*/

.header {
  background-color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 100px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: fit-content;
  }
}

.header__logo img {
  transform: scale(0.5);
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__logo {
    min-width: 50%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 1240px) {
  .navbar {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .navbar {
    grid-template-columns: repeat(2, 1fr);
    min-width: 100%;
  }
}

.navbar__enlace,
.navbar__enlace--logout {
  color: var(--primario);
  background-color: var(--blanco);
  border-radius: 3rem;
  white-space: nowrap;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.navbar__enlace--logout {
  font-weight: 600;
  text-decoration: underline;
}

.navbar__enlace:hover,
.navbar__enlace--logout:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar__enlace,
  .navbar__enlace--logout {
    min-width: calc(100% - 30rem);
    text-align: center;
    border-radius: 0;
    padding: 2rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
}
/*
=============================
FIN HEADER
=============================
*/

/*
=============================
INICIO CAPTURA-VEHÍCULO
=============================
*/

.captura-vehiculo__heading {
  margin-bottom: 0;
}

.captura-vehiculo__formulario-contenedor {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

/*
=============================
FIN CREAR-VEHÍCULO
=============================
*/

/*
=============================
INICIO CAPTURA-SERVICIO-VEHICULAR
=============================
*/

.captura-servicio-vehicular__heading {
  margin-bottom: 0;
}

.captura-servicio-vehicular__formulario-contenedor {
  margin-block: 2rem;
  background-color: var(--azul_claro);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
  width: 70%;
}

.captura-servicio-vehicular__card-container {
  width: 70%;
  padding-block: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 3rem auto;
  background: var(--azul_claro);
  border-radius: 2rem;
  justify-content: space-between;
  align-items: center;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 850px) {
  .captura-servicio-vehicular__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  .captura-servicio-vehicular__card-container {
    grid-template-columns: 1fr;
  }
}

.captura-servicio-vehicular__card-editor {
  width: 70%;
  padding-block: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 3rem auto;
  background: var(--azul_claro);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

@media (max-width: 670px) {
  .captura-servicio-vehicular__card-editor {
    text-align: center;
  }
}

.card {
  padding: 2rem;
  box-shadow: 0 0 0.4rem var(--rgb_card);
  border-radius: 2rem;
  transition: 0.2s ease-in;
  gap: 2rem;
  position: relative;
}

@media (max-width: 320px) {
  .card h3 {
    min-width: 100%;
    font-size: 1.5rem;
  }
}

.card__delete {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.card__edit {
  position: absolute;
  top: 12px;
  right: 44px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.card:hover {
  background: rgb(199, 226, 249);
}

.card-editor__delete {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/*
=============================
FIN CAPTURA-SERVICIO-VEHICULAR
=============================
*/

/*
=============================
INICIO SELECCIONAR-VEHICULO
=============================
*/
.seleccionar_vehiculo__heading {
  margin-bottom: 0;
}

.seleccionar_vehiculo__formulario-contenedor {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.seleccionar_vehiculo__contenedor-coche {
  max-width: 50%;
}

@media (max-width: 1024px) {
  .seleccionar_vehiculo__contenedor-coche {
    display: none;
  }
}

.captura-registro-mantenimiento-vehiculo__plascas-contenerdor {
  justify-content: center;
}

/*
=============================
FIN SELECCIONAR-VEHICULO
=============================
*/

/*
==============================================
INICIO CAPTURA-REGISTRO-MANTENIMIENTO-VEHICULO
==============================================
*/
.captura-registro-mantenimiento-vehiculo__placas-contenedor {
  text-align: center;
  font-size: large;
  font-weight: 600;
}

@media (max-width: 768px) {
  .captura-registro-mantenimiento-vehiculo__placas-contenedor {
    font-size: 2rem;
  }
}

.captura-registro-mantenimiento-vehiculo__heading {
  margin-bottom: 0;
}

.captura-registro-mantenimiento-vehiculo__formulario-contenedor {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
/*
==============================================
FIN CAPTURA-REGISTRO-MANTENIMIENTO-VEHICULO
==============================================
*/

/*
=============================
INICIO MENU
=============================
*/

.menu__heading {
  margin-block: 28rem;
}

/*
=============================
FIN MENU
=============================
*/

/*
=============================
INICIO FORMULARIO
=============================
*/

.formulario {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.formulario__campos {
  border: none;
  border-radius: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--azul_claro);
  min-width: 100%;
}

.formulario__campo {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

@media (max-width: 550px) {
  .formulario__label {
    font-size: 1.2rem;
  }
}

.formulario__input {
  padding: 0.5rem;
  border: 1px solid lightgray;
}

@media (max-width: 550px) {
  .formulario__input {
    font-size: 1rem;
  }

  select.formulario__input {
    max-width: 100%;
  }
}

.formulario__input::placeholder {
  color: lightgray;
}

.formulario__submit {
  background-color: var(--primario);
  color: var(--blanco);
  padding: 1rem 4rem;
  border-radius: 3rem;
  text-align: center;
  border: none;
  width: auto;
  display: inline-block;
  align-self: center;
  font-weight: 600;
  max-width: 100%;
}

@media (max-width: 768px) {
  .formulario__submit {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .formulario__submit {
    font-size: 1.5rem;
    text-align: center;
    text-wrap: balance;
    padding: 1rem 2rem;
  }
}

.formulario__submit:hover {
  cursor: pointer;
  background-color: rgb(9, 70, 113);
}

/*
=============================
FIN FORMULARIO
=============================
*/

/*
=============================
INICIO FOOTER
=============================
*/

.footer {
  background-color: var(--primario);
  color: var(--blanco);
  padding-block: 6rem;
  font-size: 1.5rem;
  margin-top: auto;
}

.footer__enlace {
  color: var(--azul_claro);
}

.footer__barra {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__barra {
    flex-direction: column;
  }
}

.footer__logo {
  font-size: 4rem;
  font-weight: 700;
  color: var(--blanco);
}

.footer__redes {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__copyright {
  font-size: 1rem;
}

/*
=============================
FIN FOOTER
=============================
*/

/*
=============================
INICIO ALERTAS
=============================
*/

.alerta {
  margin: 0 auto;
  width: 20%;
  text-align: center;
  color: white;
  border-radius: 3rem;
  padding: 2rem;
}

.alerta--exito {
  background-color: green;
}

.alerta--error {
  background-color: red;
}

/*
=============================================
HISTORIAL REGISTROS MANTENIMIENTO VEHICULAR
=============================================
*/

.historial-registros__titulo {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.filtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media print {
  .header {
    display: none;
  }

  .filtros {
    display: none;
  }
}

.filtros__campos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5rem;
  align-items: center;
  min-width: auto;
}

@media (max-width: 768px) {
  .filtros__campos {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

.filtros__campo {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.filtros__etiqueta {
  text-align: center;
  font-size: 1.5rem;
}

.filtros__desplegable {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: 0.5s;
}

.filtros__desplegable:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.filtros__desplegable option {
  background-color: var(--blanco);
}

.filtros__enviar {
  margin-top: 3rem;
  padding: 1rem 4rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  transition: 0.5s;
}

.filtros__enviar:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.historial-registros__contenedor-registros {
  margin-block: 5rem;
}

.registros th {
  font-weight: 600;
  font-size: 1.7rem;
}

.registros td {
  text-align: center;
  font-size: 1.7rem;
}

/*
==================================================
EDITAR HISTORIAL REGISTROS MANTENIMIENTO VEHICULAR
==================================================
*/

.editar-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editar-registro__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--azul_claro);
  padding: 4rem 15rem;
  border-radius: 3rem;
  margin-bottom: 4rem;
  min-width: 100%;
}
@media (max-width: 768px) {
  .editar-registro__contenedor {
    padding: 2rem 1rem;
  }
}

@media (max-width: 375px) {
  .editar-registro__contenedor {
    padding: 1rem 0.5rem;
  }
}

.editar-registro__contenedor-texto {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.registros-formulario {
  border: none;
}

.registros__campos {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;
  align-items: center;
  width: 25rem;
  border: none;
}

.registros__campo {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.registros__etiqueta {
  text-align: left;
  font-size: 1.5rem;
}

.registros__entrada,
.campo__desplegable {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  transition: 0.5s;
}

.editar-registro__contenedor-botones,
.editar-vehiculo__contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5rem;
}

@media (max-width: 375px) {
  .editar-registro__contenedor-botones,
  .editar-vehiculo__contenedor-botones {
    flex-direction: column-reverse;
    row-gap: 1rem;
  }
}

.editar-registro__volver {
  padding: 0.725rem 4rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.5s;
  align-self: center;
  text-align: center;
  width: fit-content;
}

.editar-registro__volver:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
  transition: 0.5s;
}

.registros__enviar {
  padding: 1rem 4rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  transition: 0.5s;
}

.registros__enviar:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

/*
===============================================================
CONFIRMACIÖN EDITAR HISTORIAL REGISTROS MANTENIMIENTO VEHICULAR
===============================================================
*/

.confirmacion-edicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.confirmacion-edicion__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--azul_claro);
  padding: 4rem 10rem;
  border-radius: 3rem;
  margin-bottom: 4rem;
  width: auto;
}

.confirmacion-edicion__titulo {
  margin-top: 0rem;
}

.confirmacion-edicion__texto {
  margin-bottom: 2rem;
  font-weight: 600;
}

.confirmacion-edicion__texto span {
  font-weight: 400;
}

.confirmacion-edicion__volver {
  margin-top: 2rem;
  padding: 0.725rem 4rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.5s;
}

.confirmacion-edicion__volver:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
  transition: 0.5s;
}

/*
================
RESUMEN FLOTILLA
================
*/

.resumen-flotilla {
  margin: 0 auto;
}

.resumen-flotilla__titulo {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.resumen-flotilla__contenedor-registros {
  margin: 0 auto 15rem auto;
}

.resumen th {
  font-weight: 600;
  font-size: 1.7rem;
}

.resumen td {
  text-align: center;
  font-size: 1.7rem;
}

.resumen__acciones {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
